<!-- 报修单单详情页面
 -->

<!--  engineer -> 工单管理 -> 报修单详情
 manager -> 派单管理 -> 报修单详情
 admin -> 报修单统计 -> 报修单详情 -->

 <ion-view view-title="报修单详情">

  <ion-content>
  
    <div class="list card" >
      <div class="item item-divider item-positive">
        联系方式
      </div>
      <label class="item item-input">
        <span class="input-label">客户姓名</span>
        <input type="text" ng-model="list.client.name" >
      </label>
      <label class="item item-input">
        <span class="input-label">客户地址</span>
        <input type="text" ng-model="list.client.address" >
      </label>
      <label class="item item-input">
        <span class="input-label">联系电话</span>
        <input type="tel" ng-model="list.client.phone_no"  >
      </label>
      <label class="item item-input">
        <span class="input-label">客户单位</span>
        <input type="text" ng-model="list.client.unit" >
      </label>
    </div>

    <div class="list card" >
      <div class="item item-divider item-positive">
        订单详情
      </div>
      <label class="item item-input item-select">
        <span class="input-label">机器类型</span>
        <select ng-model="list.machineType">
          <option value="">请选择</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">故障类型</span>
        <select ng-model="list.fixType">
          <option value="">请选择</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">服务类型</div>
        <select ng-model="list.serviceType">
          <option value="">请选择</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">报修人</span>
        <input type="text" ng-model="list.reporter">
      </label>
    </div>

  </ion-content>
</ion-view>

