<ion-view view-title="工作量统计" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="workload in workloads"
            class="item item-avatar">
          <!-- <img ng-src="{{workload.engineer.avatar}}"> -->
          <img ng-src="img/ionic.png">
          <h2>{{workload.engineerId}}</h2>
          <p>共完成{{workload.completed}}单，未完成{{workload.uncompleted}}单</p>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
