<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu>
    <ion-header-bar class="bar-positive">
      <h1 class="title">功能</h1>
      <button class="button button-clear" ng-click="logout()">注销</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/menu/users" class="item-icon-left" ng-show="isAdmin()">
          <i class="icon ion-person"></i>用户管理</ion-item>
        </ion-item>
        <ion-item menu-close href="#/menu/newuser" class="item-icon-left" ng-show="isAdmin()">
          <i class="icon ion-person-add"></i>新建用户</ion-item>
        </ion-item>

        <ion-item menu-close href="#/menu/newlist" class="item-icon-left" ng-show="isManager()">
          <a class="icon ion-compose"></a>新建报修单</ion-item>
        </ion-item>
        <!-- <ion-item menu-close href="#/menu/uncompleted" class="item-icon-left" ng-show="showUncompleted()"> -->
        <ion-item menu-close href="#/menu/uncompleted" class="item-icon-left">
          <a class="icon ion-wrench"></a>未完成报修单</ion-item>
        </ion-item>
	      <!-- <ion-item menu-close href="#/menu/completed" class="item-icon-left" ng-show="showCompleted()"> -->
        <ion-item menu-close href="#/menu/completed" class="item-icon-left">
          <a class="icon ion-clipboard"></a>已完成报修单</ion-item>
        </ion-item>
	      <!-- <ion-item menu-close href="#/menu/checked" class="item-icon-left" ng-show="showChecked()"> -->
        <ion-item menu-close href="#/menu/checked" class="item-icon-left">
          <a class="icon ion-folder"></a>已审核报修单</ion-item>
        </ion-item>

        <ion-item menu-close href="#/menu/modifypassword" class="item-icon-left">
          <i class="icon ion-locked"></i>修改密码</ion-item>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
