<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu>
    <ion-header-bar align-title="left" class="bar-positive">
      <h1 class="title">{{username}}</h1>
      <button class="button button-clear" ng-click="logout()">注销</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-click="toggleList()" ng-if="isManager()||isSaler()||isEngineer()||isAdmin()">售后服务</ion-item>
        <ion-item ng-if="submenu.list">
          <ion-list>
            <ion-item menu-close href="#/menu/valuechange" ng-if="isAdmin()">
              分值改动
            </ion-item>
            <ion-item menu-close href="#/menu/newlist" ng-if="isManager()">
              新建报修单
            </ion-item>
            <ion-item menu-close href="#/menu/unaccepted" ng-if="isManager()||isEngineer()||isAdmin()">
              未接报修单
            </ion-item>
            <ion-item menu-close href="#/menu/accepted" ng-if="isManager()||isSaler()||isEngineer()||isAdmin">
              已接报修单
            </ion-item>
            <ion-item menu-close href="#/menu/completed" ng-if="isManager()||isSaler()||isEngineer()||isAdmin">
              已完成报修单
            </ion-item>
            <ion-item menu-close href="#/menu/checked" ng-if="isManager()||isSaler()||isEngineer()||isAdmin">
              已审核报修单
            </ion-item>
            <ion-item menu-close href="#/menu/search" ng-if="isManager()||isSaler()||isAdmin()">
              报修单搜索
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item ng-click="toggleSale()" ng-if="isSalerAssistant()">销售管理</ion-item>
        <ion-item ng-if="submenu.sale">
          <ion-list>
            <ion-item menu-close href="#/menu/visiting" ng-if="isSalerAssistant()">
              客户拜访
            </ion-item>
            <ion-item menu-close href="#/menu/tracing" ng-if="isSalerAssistant()">
              项目跟踪
            </ion-item>
            <ion-item menu-close href="#/menu/forms" ng-if="isSalerAssistant()">
              销售报表
            </ion-item>
            <ion-item menu-close href="#/menu/bidding" ng-if="isSalerAssistant()">
              投标管理
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item ng-click="toggleFinance()" ng-if="isSaler()">在线财务</ion-item>
        <ion-item ng-if="submenu.finance">
          <ion-list>
            <ion-item menu-close href="#/menu/expense" ng-if="isSaler()">
              费用统计
            </ion-item>
            <ion-item menu-close href="#/menu/profit" ng-if="isSaler()">
              利润统计
            </ion-item>
            <ion-item menu-close href="#/menu/cash" ng-if="isSaler()">
              预存记录
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item menu-close href="#/menu/users" ng-if="isAdmin()">
          用户管理
        </ion-item>
        <ion-item menu-close href="#/menu/newuser" ng-if="isAdmin()">
          新建用户
        </ion-item>
        <ion-item menu-close href="#/menu/modifypassword">
          修改密码
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
