<ion-view view-title="派单管理" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list can-swipe="true" >
        <ion-item class="item"  ng-repeat="listUndispatched in listsUndispatched" 
          ui-sref='menu.list({list_id: listUndispatched._id})'>
          <div class="item">
            <div class="row">
              <div class="col">
                <h2><i class="icon ion-person"></i> {{listUndispatched.client.name}}</h2>
              </div>
              <div class="col ">
                <h2><i class="icon ion-ios-telephone"></i> {{listUndispatched.client.phone_no}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3><i class="icon ion-home"></i> {{listUndispatched.client.address}}</h3>
              </div>
              <div class="col">
                <h3><i class="icon ion-wrench"></i> {{listUndispatched.fixType}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>{{listUndispatched.date}}</p>
              </div>
              <!-- <div class="col">
                  <i class="button button-small button-outline button-assertive">处理中</i>
              </div> -->
            </div>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
              工程师
            </div>
            <select ng-model="listUndispatched.engineer" ng-options="engineer.id as engineer.id for engineer in engineers">
              <option value="">未分配</option>
            </select>
          </label>
      </ion-item>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="dispatchLists()">确定</button>
    </div>

  </ion-content>
</ion-view>
