<ion-view view-title="修改密码" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="signup-page">

    <label class="item item-input">
      <span class="input-label">旧密码</span>
      <input type="password" ng-model="user.oldPassword">
    </label>
    <label class="item item-input">
       <span class="input-label">新密码</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item item-input">
       <span class="input-label">确认密码</span>
      <input type="password" ng-model="user.confirmPassword">
    </label>
          
    <button class="button button-block button-positive" ng-click="modifyPassword()">
      修改
    </button>
  </ion-content>
</ion-view>