<ion-view view-title="已审核报修单" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <label class="item item-input item-select" ng-show="isManager || isAdmin">
      <span class="input-label">销售人员</span>
      <select ng-model="select.saler" ng-options="saler.id as saler.id for saler in salers" ng-change="loadChecked()">
        <option value="">全部</option>
      </select>
    </label>
    <label class="item item-input item-select" ng-show="isManager || isAdmin">
      <span class="input-label">工程师</span>
      <select ng-model="select.engineer" ng-options="engineer.id as engineer.id for engineer in engineers" ng-change="loadChecked()">
        <option value="">全部</option>
      </select>
    </label>
    
    <div class="card" ng-show="noData">
      <div class="item item-text-wrap">
        <span>
          目前没有任何已审核报修单
        </span>
      </div>
    </div>

    <ion-item class="item" ng-show="!noData&&isEngineer">
      <div class="item">
        <h2>
          <i>本月已审核报修单分值总计</i>{{totalValue}}<i>分</i>
        </h2>
      </div>
    </ion-item>

    <ion-item class="item"  ng-repeat="listChecked in listsChecked" 
      ui-sref='menu.checked_detail({_id: listChecked._id})'>
      <div class="item">
        <h2><i>客户姓名:&emsp;</i> {{listChecked.client.name}}</h2>
        <h2><i>销售人员:&emsp;</i> {{listChecked.saler}}</h2>
        <h2><i>工程师:&emsp;</i> {{listChecked.engineer}}</h2>
        <h2><i>审核时间:&emsp;</i> {{listChecked.checkTime}}</h2>
      </div>
    </ion-item>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" icon="ion-load-c" ng-if="hasNextPage">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>

