<ion-view view-title="详情">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-ios-arrow-back">
    </ion-nav-back-button>
  </ion-nav-bar>



  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <label class="item item-input">
      <span class="input-label">客户单位</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.client.unit" >
    </label>
    <label class="item item-input">
      <span class="input-label">客户姓名</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.client.name" >
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">客户地址</span>
      <textarea wrap="virtual" rows="2" type="text" disabled style="background: #FFF" ng-model="list.client.address" ></textarea>
    </label>
    <label class="item item-input">
      <span class="input-label">客户电话</span>
      <input type="tel" disabled style="background: #FFF" ng-model="list.client.phone_no" >
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">送货服务</span>
      <textarea wrap="virtual" rows="2" type="text" disabled style="background: #FFF" ng-model="list.deliver" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">安装调试</span>
      <textarea wrap="virtual" rows="2" type="text" disabled style="background: #FFF" ng-model="list.debug" ></textarea>
    </label>
    <label class="item item-input">
      <span class="input-label">上门服务</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.visit" >
    </label>
    <label class="item item-input">
      <span class="input-label">安装单</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.install" >
    </label>
    <label class="item item-input">
      <span class="input-label">库房安装</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.warehouse" >
    </label>
    <label class="item item-input">
      <span class="input-label">出库单号</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.outgoing" >
    </label>
    <label class="item item-input">
      <span class="input-label">序列号</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.serial_no" >
    </label>

    <label class="item item-input">
      <span class="input-label">销售人员</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.saler" >
    </label>

    <label class="item item-input">
      <span class="input-label">分值</span>
      <input type="number" ng-if="isManager" ng-model="list.value" >
      <input type="number" ng-if="!isManager" disabled style="background: #FFF" ng-model="list.value" >
    </label>

    <label class="item item-input">
      <span class="input-label">工程师</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.engineer" >
    </label>

    <label class="item item-input">
      <span class="input-label">创建时间</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.date" >
    </label>

    <label class="item item-input">
      <span class="input-label">完成时间</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.completeTime" >
    </label>
    <label class="item item-input">
      <span class="input-label">反馈信息</span>
      <input type="text" disabled style="background: #FFF" ng-model="list.feedback" >
    </label>

    <div class="item item-input item-icon-right">
      <span class="input-label">附件图片1</span>
      <button class="button button-clear button-positive" ng-click="showImage1()" ng-if="list.attached1">查看</button>
    </div>
    <div class="item item-input item-icon-right">
      <span class="input-label">附件图片2</span>
      <button class="button button-clear button-positive" ng-click="showImage2()" ng-if="list.attached2">查看</button>
    </div>
    <div class="item item-input item-icon-right">
      <span class="input-label">附件图片3</span>
      <button class="button button-clear button-positive" ng-click="showImage3()" ng-if="list.attached3">查看</button>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-if="isManager" ng-click="modify()">修改分值</button>
      <button class="button button-block button-positive" ng-if="isSaler" ng-click="check()">审核</button>
      <button class="button button-block button-positive" ng-if="isManager||isAdmin" ng-click="remove()">删除</button>
    </div>

  </ion-content>
</ion-view>