<ion-view view-title="已完成工单" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <div class="card" ng-show="noData">
      <div class="item item-text-wrap">
        <span>
          目前没有任何已完成但未审核工单
        </span>
      </div>
    </div>

    <ion-item class="item"  ng-repeat="listCompleted in listsCompleted" 
      ui-sref='menu.completed_detail({_id: listCompleted._id})'>
      <div class="item">
        <div class="row">
          <div class="col">
            <h2><i>客户姓名: </i> {{listCompleted.client.name}}</h2>
          </div>
          <div class="col ">
            <h2><i>电话: </i> {{listCompleted.client.phone_no}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2><i>销售员: </i> {{listCompleted.saler}}</h2>
          </div>
          <div class="col ">
            <h2><i>工程师: </i> {{listCompleted.engineer}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2><i>创建日期: </i> {{listCompleted.date}}</h2>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>

