<ion-view view-title="详情">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-ios-arrow-back">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <label class="item item-input">
      <span class="input-label">报修单号</span>
      <input type="text" disabled ng-model="list.serial_number" >
    </label>
    <label class="item item-input">
      <span class="input-label">客户单位</span>
      <input type="text" ng-if="isManager" ng-model="list.client.unit" >
      <input type="text" ng-if="!isManager" disabled ng-model="list.client.unit" >
    </label>
    <label class="item item-input">
      <span class="input-label">客户姓名</span>
      <input type="text" ng-if="isManager" ng-model="list.client.name" >
      <input type="text" ng-if="!isManager" disabled ng-model="list.client.name" >
    </label>
    <div class="item item-input item-button-right">
      <span class="input-label">客户电话</span>
      <input type="tel" ng-if="isManager" ng-model="list.client.phone_no" >
      <input type="tel" ng-if="!isManager" disabled ng-model="list.client.phone_no" >
      <button class="button button-clear button-positive ion-ios-telephone" ng-if="list.client.phone_no"
        ng-click="callPhone()"></button>
    </div> 
    <label class="item item-input item-stacked-label">
      <span class="input-label">客户地址</span>
      <textarea wrap="virtual" rows="2" type="text" ng-if="isManager" ng-model="list.client.address" ></textarea>
      <textarea wrap="virtual" rows="2" type="text" ng-if="!isManager" disabled ng-model="list.client.address" ></textarea>
    </label>
     
    <label class="item item-input item-stacked-label">
      <span class="input-label">送货服务</span>
      <textarea wrap="virtual" rows="5" type="text" ng-if="isManager" ng-model="list.deliver" ></textarea>
      <textarea wrap="virtual" rows="5" type="text" ng-if="!isManager" disabled ng-model="list.deliver" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">安装调试</span>
      <textarea wrap="virtual" rows="4" type="text" ng-if="isManager" ng-model="list.debug" ></textarea>
      <textarea wrap="virtual" rows="4" type="text" ng-if="!isManager" disabled ng-model="list.debug" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">上门服务</span>
      <textarea wrap="virtual" rows="4" type="text" ng-if="isManager" ng-model="list.visit" ></textarea>
      <textarea wrap="virtual" rows="4" type="text" ng-if="!isManager" disabled ng-model="list.visit" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">安装单</span>
      <textarea wrap="virtual" rows="4" type="text" ng-if="isManager" ng-model="list.install" ></textarea>
      <textarea wrap="virtual" rows="4" type="text" ng-if="!isManager" disabled ng-model="list.install" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">库房安装</span>
      <textarea wrap="virtual" rows="4" type="text" ng-if="isManager" ng-model="list.warehouse" ></textarea>
      <textarea wrap="virtual" rows="4" type="text" ng-if="!isManager" disabled ng-model="list.warehouse" ></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">出库单号</span>
      <textarea wrap="virtual" rows="2" type="text" ng-if="isManager" ng-model="list.outgoing" ></textarea>
      <textarea wrap="virtual" rows="2" type="text" ng-if="!isManager" disabled ng-model="list.outgoing" ></textarea>
    </label>

    <label class="item item-input item-select" ng-if="isManager">
      <span class="input-label">销售人员</span>
      <select ng-model="list.saler" ng-options="saler.id as saler.id for saler in salers">
        <option value="">请选择</option>
      </select>
    </label>
    <label class="item item-input" ng-if="!isManager">
      <span class="input-label">销售人员</span>
      <input type="text" disabled ng-model="list.saler" >
    </label>
    
    <label class="item item-input item-select" ng-if="isManager">
      <span class="input-label">工程师</span>
      <select ng-model="list.engineer" ng-options="engineer.id as engineer.id for engineer in engineers">
        <option value="">请选择</option>
      </select>
    </label>
    <label class="item item-input" ng-if="!isManager">
      <span class="input-label">工程师</span>
      <input type="text" ng-if="!isManager" disabled ng-model="list.engineer" >
    </label>

    <label class="item item-input">
      <span class="input-label">创建时间</span>
      <input type="text" disabled ng-model="list.date" >
    </label>

    <label class="item item-input" ng-if="isEngineer">
      <span class="input-label">上门时间</span>
      <input type="datetime-local" ng-model="list.serveTime" >
    </label>


    <div class="padding">
      <button class="button button-block button-positive" ng-if="isManager" ng-click="modify()">修改</button>
      <button class="button button-block button-positive" ng-if="isEngineer" ng-click="accept()">接单</button>
      <button class="button button-block button-positive" ng-if="isManager||isAdmin" ng-click="remove()">删除</button>
    </div>

  </ion-content>
</ion-view>