<ion-view view-title="未接报修单" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <label class="item item-input item-select" ng-show="isManager || isAdmin">
      <span class="input-label">销售人员</span>
      <select ng-model="select.saler" ng-options="saler.id as saler.id for saler in salers" ng-change="loadUnaccepted()">
        <option value="">全部</option>
      </select>
    </label>
    <label class="item item-input item-select" ng-show="isManager || isAdmin">
      <span class="input-label">工程师</span>
      <select ng-model="select.engineer" ng-options="engineer.id as engineer.id for engineer in engineers" ng-change="loadUnaccepted()">
        <option value="">全部</option>
      </select>
    </label>

    <ion-item class="item" ng-if="noData">
      <div class="item">
        <h2>
          <i>目前没有任何未接报修单</i>
        </h2>
      </div>
    </ion-item>

    <ion-item class="item" ng-repeat="listUnaccepted in listsUnaccepted" ui-sref='menu.unaccepted_detail({_id: listUnaccepted._id})'>
      <div class="item">
        <h2><i>客户姓名:&emsp;</i> {{listUnaccepted.client.name}}</h2>
        <h2><i>销售人员:&emsp;</i> {{listUnaccepted.saler}}</h2>
        <h2><i>工程师:&emsp;</i> {{listUnaccepted.engineer}}</h2>
        <h2><i>单号:&emsp;</i> {{listUnaccepted.serial_number}}</h2>
      </div>
    </ion-item>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" icon="ion-load-c" ng-if="hasNextPage">
    </ion-infinite-scroll>

  </ionic-content>
</ion-view>

