<ion-view view-title="未完成工单" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <div class="card" ng-show="noData">
      <div class="item item-text-wrap">
        <span>
          目前没有任何未完成工单
        </span>
      </div>
    </div>

    <ion-item class="item" ng-repeat="listUncompleted in listsUncompleted" ui-sref='menu.uncompleted_detail({_id: listUncompleted._id})'>

      <div class="item">
        <h2><i>客户姓名:&emsp;</i> {{listUncompleted.client.name}}</h2>
        <h2><i>销售员:&emsp;</i> {{listUncompleted.saler}}</h2>
        <h2><i>工程师:&emsp;</i> {{listUncompleted.engineer}}</h2>
        <h2><i>创建日期:&emsp;</i> {{listUncompleted.date}}</h2>
      </div>

    </ion-item>
</ion-view>

