<ion-view view-title="项目跟踪">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  ng-if="isSaler" ui-sref='menu.newtracing'>
      <i class="icon ion-ios-compose-outline"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
  
    <label class="item item-input item-select" ng-show="isSalerAssistant">
      <span class="input-label">销售人员</span>
      <select ng-model="select.saler" ng-options="saler.id as saler.id for saler in salers" ng-change="loadTracing()">
        <option value="">全部</option>
      </select>
    </label>

    <ion-item class="item" ng-if="noData">
      <div class="item">
        <h2>
          <i>目前没有任何项目跟踪记录</i>
        </h2>
      </div>
    </ion-item>

    <ion-item class="item"  ng-repeat="entry in tracing" ui-sref='menu.tracing_detail({_id: entry._id})'>
      <div class="item">
        <h2><i>年份:&nbsp;</i> {{entry.year}} &nbsp; <i>季度:&nbsp;</i> {{entry.season}} &nbsp; <i>周:&nbsp;</i> {{entry.week}} </h2>
        <h2><i>创建日期:&nbsp;</i> {{entry.date}}</h2>
        <h2><i>销售人员:&nbsp;</i> {{entry.saler}}</h2>        
        <h2><i>学校:&nbsp;</i> {{entry.school}}</h2>    
      </div>
    </ion-item>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" icon="ion-load-c" ng-if="hasNextPage">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>