.signup-page {
  text-align: center;
  padding: 40px;
}

.item-text-wrap {
    overflow: auto;
}

.item-select select {
    right: auto;
    padding: 13px 45px 15px 0;
    direction: ltr;
}

.inline {
    display: inline;
    text-align: center;
}

.image-modal {
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}
.transparent {
    background: transparent;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
}